[Unit]
Description=EVNotify Python Service
Wants=gpsd.service
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
WorkingDirectory=/opt/evnotipi
ExecStart=/opt/evnotipi/evnotipi.py
RestartSec=5s
Restart=on-failure
WatchdogSec=1m
TimeoutStartSec=5m

[Install]
WantedBy=multi-user.target

